<div class="product-card">
  <!-- Product Image Section -->
  <div class="product-image">
    <img src="https://localhost:44314/{{Product.photos[0].imageName}}" alt="Laptop" class="img-fluid main-image">
  </div>
  
  <div class="thumbnail-container">
    @for (item of Product.photos; track $index) {
    <div class="thumbnail-wrapper">
            <img src="https://localhost:44314/{{item.imageName}}" alt="Thumbnail {{$index + 1}}" 
            class="img-fluid main-image">
    </div>
    }
</div>

  <div class="product-header">
    <h3 class="product-title">{{Product.name}}</h3>
  </div>
  <div class="product-body">
    <p class="product-description">{{Product.description}}</p>
    
    <!-- Action Buttons -->
    <div class="product-actions">
      <button routerLink="/product-details/{{Product.id}}" class="btn btn-outline-primary details-btn">Details</button>
      <button class="btn btn-danger add-to-cart-btn">Add To Cart</button>
    </div>
  </div>
  <div class="product-footer">
    <div class="product-prices">
      <span class="original-price">{{Product.oldPrice| currency}}</span>
      <span class="discounted-price">{{Product.newPrice| currency }}</span>
    </div>
  </div>
</div>